#container{
    background-color: rgb(19, 18, 18);
    box-shadow: 2px 3px 5px gray;
    width: 370px;
    height: 540px;
    margin-left:  150px;
    margin-top: 40px;
    padding-top: 7px;
    border-radius: 15px;

}
#screen .info{
    background-color: rgba(119, 113, 108, 0.911);
    
    width: 350px;
    margin: 0px;
    margin-left: 6px;
    border: 0cm;
}
#screen{
margin-top: 15px;
}
.info{
    font: 2em sans-serif;
    text-align: right;
}
#disp{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 5em;
    height: 40px;
}
#disp:hover,#disp2:hover,#disp:focus,#disp2:focus{
    border:0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#disp2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
    margin-top: 0px;
}
.clear, .signs{
    background-color: rgb(126, 30, 30);
}
.nums{
    background-color: rgb(103, 100, 105);
}
#numbers{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows:repeat(4, 80px) ;
    gap: 8px;
    background-color: aliceblue;
    height: 360px;
    width: 350px;
    margin-top: 1.5em;
    margin-left: 8px;
    border-radius: 4px;
    padding-top: 15px;
    padding-left: 5px;
}
#on{
    margin-left: 310px;
    margin-top: 15px;
    background-color: red;
    width: 50px;
    height: 25px;
    color: #fff;
    border-radius: 4px;
}
#numbers > button{
    /* background-color: rgb(126, 126, 216); */
    text-align: center;
    padding-top: 10px;
    border-radius: 4px;
    font: 3em sans-serif;
}
#c{
    background-color: rgb(235, 32, 32);
}
#p #s #m #e #d{
    background-color: black;
}
